<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Html</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Description">

    <meta property="og:url" content="http://github.com/posthtml">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="PostHTML">

    <link rel="stylesheet" type="text/css" href="path/to/file.css">
    <script src="path/to/file.js" type="text/javascript" charset="utf-8"></script>

    <script>
        console.log('PostHTML!');
    </script>
</head>
<body onload="try{if(!google.j.b){document.f&&document.f.q.focus();document.gbqf&&document.gbqf.q.focus();}}catch(e){}if(document.images)new Image().src='/images/nav_logo231.png'">

    <h1>Title</h1>
    <p>Lorem ipsum dolor sit amet...</p>

    <section class="foo" style="color: red;">
        <header class="foo bar" style="color: blue; border: 1px solid" id="id">
            <div class="foo bar baz" id="idd" data-url="url/to/">
                <span id="idd" data-data="{ foo: 'bar' }">
                    <a href="#">
                        <img src="path/to/img">
                        Link
                    </a>
                </span>
            </div>
        </header>
    </section>

    <script type="text/javascript">
        (function(){function k(a){++b;a=a||window.event;google.iTick(a.target||a.srcElement)}if(google.timers&&google.timers.load.t){var c,b,f;google.c.c.a&&(google.startTick("aft"),google.afte=!1);var g=document.getElementsByTagName("img");c=g.length;for(var d=b=0,a;d<c;++d)if(a=g[d],google.c.c.i&&"none"==a.style.display)++b;else{var h="string"!=typeof a.src||!a.src,e=h||a.complete;google.c.c.d?a.getAttribute("data-deferred")&&(e=!1,a.removeAttribute("data-deferred")):google.c.c.m&&h&&a.getAttribute("data-bsrc")&&
        (e=!1);e?++b:google.rll(a,!0,k)}f=c-b;google.rll(window,!1,function(){google.tick("load","ol");google.c.e("load","imc",String(b));google.c.e("load","imn",String(c));google.c.e("load","imp",String(f));google.unblockCSI("load","ol")});google.tick("load",["prt","iml"])}})();
    </script>

    <script src="path/to/file2.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
